<input type="text" class="form-control" [(ngModel)]='filterByTitle'>

<app-product [filterByTitle]="filterByTitle" (proProperty)="addToCart($event)"></app-product>

<table class="table table-dark table-striped mt-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Count</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
    @for (product of productCart ; track product.id) {
        <tr>
          <th>
            {{product.productName}}
          </th>
          <th>
            {{product.productPrice}}
          </th>
          <th>
            {{product.productQuantity}}
          </th>
          <th>
            <i class="fa-solid icon fa-trash" (click)="removeItem(product.id)"></i>
          </th>
      }
    </tbody>
  </table>
